*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:  rgb(205, 237, 237);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: lightblue;
    font-size: 50px;
}
p{
    font-family: monospace;
    font-size: 25px;
    color: lightseagreen;
    font-style: oblique;
}
.header{
    text-align: center;
    padding: 20px;
    background-color: crimson;
    width: 100%;
    height: 160px;
    animation-name: test;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
/* animation to make the header box slowly change colour */
@keyframes test {
    from {background-color: rgb(61, 40, 130); }
    to {background-color: rgb(143, 6, 6);}
   
   
}
/* puts the images on top of each other in columns and in the centre */
.Image-gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    object-fit: cover;
    border-radius: 10px;
    flex-direction: row-reverse;
}

/* column details */
.column{
    flex: 25%;
    max-width: 30%;
    padding: 5px
    
    
}

/* image styling and layout- changing how the images look */
.column img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 10px 10px rgb(14, 37, 48);
    border-radius: 5px;
   
    
   
}
/* when you put your cursor over an image it brings it to the front and zooms in
 - z index controls the order of how the images are stacked when intereacted with - 
 have to tap on images on mobile*/
.column img:hover{
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.1);
    z-index: 1;
    
    

}
/* makes the images change to better fit screensize*/
@media screen and (max-width: 900px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }  
}
@media screen and (max-width: 500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
    
}
/* changes text size with screen size */
@media screen and (max-width: 500px) {
    h1{
        font-size: 50px;
    }
    p{
        font-size: 25px;
    }
    .header{
        flex-direction: column;
    }

}


    

